.button-adicionar-monitor{
    height: 40px;
    width: 200px;
    top: 15px;
    right: 5%;
    position: absolute;
    background-color: rgb(28, 212, 28);
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    border:none;
}
.button-adicionar-monitor:hover{
    background-color: rgb(26, 185, 26);
}
.button-adicionar-monitor{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.div-adicionar-monitor{
    margin: 20px 70px 0 -70px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.modal.active {
    display: flex;
}
.header-modal{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.modal-content {
    background-color: #fefefe;
    height: 250px;
    width: auto;
    border: 1px solid #888;
    border-radius: 8px;
    overflow: hidden;
}
.select-monitor {
    margin: 4% 0 0 0;
}
/* linhas */
.row{ 
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.row:nth-child(1) {
    gap: 5px;
}
.row:nth-child(1) .col:nth-child(1){
    width: 100%;
}
.row:nth-child(1) .col:nth-child(2){
    width: 30%;
}
.row:nth-child(1) select{
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.699);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 3px;
}
.row:nth-child(1)  select:hover{
    background-color: #d6d6d6;

}
.row:nth-child(1)  select:focus{
    outline: none;
}
.row:nth-child(1) option{
    background-color: #FFF;
    color: #000000;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px;
}  
/* colunas */
.col{
    display: flex;
    flex-direction: column;
}
.col > label{
    margin-top: 10px;
}
/* caixa/card/container de cadastro */
.cadastro-box{
    width: 500px;
    border-radius: 5px;
    /* box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.178); */
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}
/* pegando o h1 da caixa do cadastro */
.cadastro-box > h1{
    text-transform: uppercase;
    margin: 15px 0 0px 0;
    font-size: 20px;
    line-height: 20px;
    color: #1877F2;
    text-align: center;
    font-family: 'Roboto condensed', Arial, Helvetica, sans-serif;
}
/* dando margem para a segunda linha (enésimo filho) */

/* mudando a largura das colunas dentro da linha */
.row > .col{
    width: 100%;
}

/* mudando dois elementos input e select ao mesmo tempo */
.cadastro-box input{
    width: 100%;
    height: 35px;
    border-radius: 2px;
}
/* estilos para o input */
.cadastro-box input{
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding-left: 5px;
}
/* mudando os estilos quando o input estiver clicado */
.cadastro-box input:focus{
    outline: none;
    border: 2px solid #1877F2;
}
/* etiqueta, label que contem a descrição do input */
.cadastro-box label{
    margin-bottom: 5px;
}
/* estilos do botão */
.cadastro-box button{
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 15px;
    background-color: #1877F2;
    color: #FFF;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.2s all;
    border-radius: 5px;
}
/* alterar a cor de fundo quando o mouser ficar em cima do botão */
.cadastro-box button:hover{
    background-color:#1253a8;
}