/* -======================== */

.summary-card:nth-child(1) > .summary-footer{
    background-color: #e68b04 !important;
}
.summary-card:nth-child(1) > .summary-main{
    background-color: #f89500  !important; 
    color: #fff;
}

.summary-card:nth-child(2) > .summary-footer{
    background-color: #047ecf;
}
.summary-card:nth-child(2) > .summary-main{
    background-color: #008ae6;
    color: #fff;
}
.summary-card:nth-child(3) > .summary-footer{
    background-color: #249224;
}
.summary-card:nth-child(3) > .summary-main{
    background-color: #27a727;
    color: #FFF;
}
.summary-card:nth-child(4) > .summary-footer{
    background-color: rgb(208, 22, 22) !important;

}
.summary-card:nth-child(4) > .summary-main{
    background-color: rgb(235, 22, 22) !important;
    color: #ffffff;
}
.summary-main{
    height: calc(100% - 50px);
    display: flex;
    align-items: center;;
    font-size: 35px;
    padding-left: 30px;
}

.grafico_down{
    display: flex;
    height: 68vh;
    width: 100%;
    flex-direction: row;
}


/* lado esquerdo*/

.temp-container{
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 97%;
    margin: 15px auto 0px 66px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.temp-container h4{
    padding: 5px;
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}
.temp-container section{
    width: 95%;
}
.left-temp{
    width: 99%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 1em #9e9e9e;
}
.left-umid{
    width: 99%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 1em #9e9e9e;
}




/* lado direito */

.umid-container{
    align-items: center;
    width: 50%;
    height: 97%;
    margin: 15px auto 5px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.right-temp{
    display: flex;
    margin-left: 7px;
    flex-direction: row;
    width: 43%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 1em #9e9e9e;
    overflow: hidden;
}
.info-right-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.table-temp {
    border-collapse: collapse;
    height: 40px;
    font-size: 11px;
    text-align: center;
    margin: 0 auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.267);
    
}
.table-temp th, td {
    padding: 0 20px 0 20px;
    padding: 2px;

}
.table-temp th {
    background-color: #206eff;
    color: #ffffff;
    width: 33%;
    font-weight: bold;
}
.table-temp td {
    font-weight: 500;
    padding: 10px;
}

.header-right-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44%;
    width: 75%;
}


.right-umid{
    display: flex;
    flex-direction: row;
    width: 43%;
    height: 100%;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 1em #9e9e9e;
    overflow: hidden;
}
.umid-container h4{
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    padding: 5px;
}
.umid-container section{
    width: 100%;
}

.header-right-umid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44%;
    width: 75%;
}

.info-right-umid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.table-umid {
    border-collapse: collapse;
    height: 40px;
    font-size: 12px;
    margin: 0 auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.267);
    
}
.table-umid th, td {
    padding: 0 20px 0 20px;
    padding: 2px;
    text-align: center;
}
.table-umid th {
    background-color: #206eff;
    color: #FFF;
    width: 33%;
    font-weight: bold;
}
.table-umid td {
    font-weight: 500;
    padding: 10px;
}


.tabelaPizza{
    margin-top: 40px;

}

.tabelaPizza h4{
    font-size: 12px;
}

.summary-main.alerta-bloco{
    background-color: rgb(235, 22, 22) !important;

 }

 .summary-footer.alerta-bloco{
    background-color: rgb(208, 22, 22) !important;
 }


