
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html,body{
    height: 100%;
}
.main-dashboard{
    flex: 1;
    background-color: #F4F5F9;
    height: 100%;
    position: relative;
    overflow-y: auto;
}