.header-dashboard{
    background: rgb(0,63,107);
    background: linear-gradient(270deg, rgba(0,63,107,1) 0%, rgba(0,13,22,1) 100%);
    /* background: rgb(255,0,0);
    background: linear-gradient(360deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); */
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    width: calc(100%);
}
.inner-header{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}
.inner-header h1{
    margin-top: -80px;
    font-size: 20px;
    color: #FFF;
}
.inner-header a{
    margin-top: -80px;
    cursor: pointer;
    text-decoration: none;
    color: #20b8ff;
}
.summary-container{
    width: 90%;
    height: 150px;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.summary-card{
    height: 100%;
    width: 25%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.summary-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #FFF;
    font-size: 12px;
}
