
/* cor do corpo do site */
body{ 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* linhas */
.row{ 
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.row:nth-child(1) {
    gap: 5px;
}
.row:nth-child(1) .col:nth-child(1){
    width: 100%;
}
.row:nth-child(1) .col:nth-child(2){
    width: 30%;
}
.row:nth-child(1) .col:nth-child(2) select{
    height: 35px;
    border: none;
    background-color: #1877F2;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 3px;
}
.row:nth-child(1)  .col:nth-child(2) select:hover{
    background-color: #1253a8;

}
.row:nth-child(1)  .col:nth-child(2) select:focus{
    outline: none;
}
.row:nth-child(1)  .col:nth-child(2) select option{
    background-color: #FFF;
    color: #1877F2;
    font-weight: bolder;
    cursor: pointer;
}  
/* colunas */
.col{
    display: flex;
    flex-direction: column;
}
.col > label{
    margin-top: 10px;
}
/* caixa/card/container de cadastro */
.cadastro-box{
    width: 500px;
    border-radius: 5px;
    /* box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.178); */
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}
/* pegando o h1 da caixa do cadastro */
.cadastro-box > h1{
    text-transform: uppercase;
    margin: 15px 0 0px 0;
    font-size: 20px;
    line-height: 20px;
    color: #1877F2;
    text-align: center;
    font-family: 'Roboto condensed', Arial, Helvetica, sans-serif;
}
/* dando margem para a segunda linha (enésimo filho) */

/* mudando a largura das colunas dentro da linha */
.row > .col{
    width: 100%;
}

/* mudando dois elementos input e select ao mesmo tempo */
.cadastro-box input{
    width: 100%;
    height: 35px;
    border-radius: 2px;
}
/* estilos para o input */
.cadastro-box input{
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding-left: 5px;
}
/* mudando os estilos quando o input estiver clicado */
.cadastro-box input:focus{
    outline: none;
    border: 2px solid #1877F2;
}
/* etiqueta, label que contem a descrição do input */
.cadastro-box label{
    margin-bottom: 5px;
}
/* estilos do botão */
.cadastro-box button{
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 15px;
    background-color: #1877F2;
    color: #FFF;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.2s all;
    border-radius: 5px;
}
/* alterar a cor de fundo quando o mouser ficar em cima do botão */
.cadastro-box button:hover{
    background-color:#1253a8;
}
/* .modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin-top: 10px;
    height: auto;
    width: 300px;
    border: 1px solid #888;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.header-modal-erro{
    width: 100%;
    height: 80px;
    background-color: #FD5C6A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-modal-correto{
    width: 100%;
    height: 80px;
    background-color: #40be4b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-erros, .modal-corretos{
    padding: 10px;
}
.modal-erros p, .modal-corretos p{
    margin-bottom: 3px;
    font-size: 13px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */