.search-container{
    width: 90%;
    height: 45px;
    margin: 90px auto 0 auto;
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.search-wrapper{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.search-wrapper input, button{
    border: none;
    height: 100%;
}
.search-wrapper input{
    width: 95%;
    padding-left: 10px;
}
.search-wrapper input:focus{
    outline: none;
}
.search-wrapper button{
    width: 5%;
    background-color: #1EADE3;
    cursor: pointer;
}

.table-container{
    position: relative;
    top: 50px;
    width: 90%;
    height: 430px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.table-container > .main-table-container{
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    overflow: auto;
}
.table-container > .footer-table-container{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}
.table-container > .footer-table-container > button{
    height: 40px;
    width: 120px;
    background-color: rgb(28, 212, 28);
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}
.table-container > .footer-table-container > button:hover{
    background-color: rgb(26, 185, 26);
}
.table-container > .footer-table-container > button, p{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.table-container > .footer-table-container > p > span{
    color: rgb(28, 212, 28);;
}

.main-table-container::-webkit-scrollbar {
    width: 5px; 
}

.main-table-container::-webkit-scrollbar-track {
  background: #d6d6d6;
}

.main-table-container::-webkit-scrollbar-thumb {
  background: #89aeff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
table {
    border-radius: 8px;
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto 0 auto;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;

}
th {
    background-color: #f2f2f2;
} 
.btn-edi, .btn-del{
    width: 50px;
    height: 35px;
    cursor: pointer;
    color: #FFF;
    font-weight: bolder;
    border-radius: 7px;
    transition: 0.3s all;
}

.btn-edi{
    background-color: rgb(253, 175, 28);
}
.btn-edi:hover{
    background-color: rgb(207, 144, 26);
}
.btn-del{
    background-color: rgb(235, 69, 69);
}
.btn-del:hover{
    background-color: rgb(185, 53, 53);
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.modal.active {
    display: flex;
}
.header-modal{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.modal-content {
    background-color: #fefefe;
    height: 540px;
    width: auto;
    border: 1px solid #888;
    border-radius: 8px;
    overflow: hidden;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.you {
    color:#888
}