section {
    position: relative;
    overflow-y: hidden;
}


.container-perfil {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.content-perfil {
    margin-top: 5%;
    background-color: white;

    color: black;
    height: auto;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 13rem;
}

.box-perfil {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

input {
    height: 40px;
    width: 18rem;
    margin-top: 0.5rem;
}

.bntPerfil {
    background-color: blue;
    color: white;
    width: 13rem;
    height: 40px;
    margin-top: 0.5rem;
}

.avatar_wrapper {
    position: relative;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.uploadButton {
    margin-top: 1rem;
}
