<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="/icon/organizacao-_1_.ico">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense | Dashboard</title>
    <!-- chart js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>

    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <script src="/js/graficos-simulativo-fazenda.js" defer></script>



    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/fazenda.css">
    <link rel="stylesheet" href="/css/header-main.css">
</head>
<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/icon/logo-soysense.png"/>
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <img src="/img/profile.jpg"/>
            </div>
            <span>Empresa</span>
            <h4>SPTech School</h4>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item dash-on">
                    <a href="/dashboard">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png" alt="dashboard-layout"/>
                        Dashboard
                    </a>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="20" height="20" src="https://img.icons8.com/material-outlined/24/FFFFFF/maintenance.png" alt="maintenance"/>
                        <span>Gerenciar</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp; Complexo</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Sensor</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Gestor</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Funcionário</a>
                        </li>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header alerta-item">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/address.png" alt="address"/>
                        <span>Complexo</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem ">
                            <a href="" class="alerta-item"><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Fazenda X</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Fazenda Y</a>
                        </li>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/document--v1.png" alt="document--v1"/>
                        <span>Relatório</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Desempenho</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Rentabilidade</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Anomalias</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-normal-item">
                    <a href="">                    
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/fine-print.png" alt="fine-print"/>                    
                        Benchmarking
                    </a>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/settings--v1.png" alt="settings--v1"/>
                        <span>Configuração</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Perfil</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Personalizar</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10"  style="transform: rotate(270deg);" height="10" src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png" alt="left-down2"/>&nbsp;Suporte</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <a href="#">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png" alt="logout-rounded"/>
                    Sair
                </a>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">

        <header class="header-dashboard">
            <div class="inner-header">
                <h1>Complexo</h1>
                <a href="#">/fazenda/<%= fazendaId %></a>
            </div>
        </header>
        <section class="summary-container">
            <div class="summary-card">
                <div class="summary-main alerta-bloco" id="temp-card">

                </div>
                <div class="summary-footer alerta-bloco">
                    <h1>Temperatura (°C)</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main" id="umid-card">

                </div>
                <div class="summary-footer ">
                    <h1>Umidade (%)</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main">
                    <h1>90%</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Desempenho</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main">
                    <h1 id="contagem-temp-critico">11</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Alertas /mês</h1>
                </div>
            </div>
        </section>

        <section class="temp-container">
            <div class="left-temp">
                <h4>Temperatura Média (°C)</h4>
                <section>
                    <canvas id="lm35Temperatura"></canvas>
                </section>
            </div>
            <div class="right-temp">
                <section class="info-right-temp">
                    <h4>Informações gerais</h4>
                    <table class="table-temp">
                        <tr>
                            <th>Sensores</th><th>Desempenho</th><th>Modelo</th><th>Medição</th>
                        </tr>
                        <tr>
                            <td>
                                11/1
                            </td>
                            <td>
                                91%
                            </td>
                            <td>
                                LM35
                            </td>
                            <td>
                                Temperatura (°C)
                            </td>
                        </tr>
                    </table>
                </section>
                <div class="header-right-temp">
                    <canvas id="qtdLm35"></canvas>
                </div>
                
                
            </div>
        </section>

        <section class="umid-container">
            
            <div class="left-umid">
                <h4>Umidade Média (%)</h4>
                <section>
                    <canvas id="dht11Umidade"></canvas>
                </section>
            </div>
            <div class="right-umid">
                <section class="info-right-umid">
                    <h4>Informações gerais</h4>
                    <table class="table-umid">
                        <tr>
                            <th>Sensores</th><th>Desempenho</th><th>Modelo</th><th>Medição</th>
                        </tr>
                        <tr>
                            <td>
                                21/9
                            </td>
                            <td>
                                57%
                            </td>
                            <td>
                                DHT11
                            </td>
                            <td>
                                Umidade
                            </td>
                        </tr>
                    </table>
                </section>
                <div class="header-right-umid">
                    <canvas id="qtdDht11"></canvas>
                </div>
                
                
            </div>
            </div>
        </section>
    </main>

</body>

</html>