<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="/icon/organizacao-_1_.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense System | Funcionário </title>
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/monitor-iframe.css">
</head>

<body>
    <div class="cadastro-box">
        <h1>Cadastre um Funcionário</h1>
        <form id="form_cadastrar_monitor" action="/cadastro" method="POST">
            <div class="row">
                <div class="col">
                    <label>Usuário:</label>
                    <input id="input_usuario" type="text" required placeholder="Insira o usuário">
                </div>
                <div class="col">
                    <label>Representa:</label>
                    <select id="select_representa_fazenda">
                        <option value="#">Escolher...</option>
                        <option value="fazendaz">Fazenda Z</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Email:</label>
                    <input id="input_email" type="email" required placeholder="Insira o email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Senha:</label>
                    <input id="input_senha"  type="password" required placeholder="Insira uma senha">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Confirme a senha:</label>
                    <input id="input_confirmacao_senha" name="confirmacaoSenha" type="password" required
                        placeholder="Insira a senha novamente">
                </div>
            </div>
            <div class="row">
                <button onclick="Cadastrar()" type="button">Cadastrar funcionário</button>
            </div>
        </form>
    </div>
    <div id="modalErro" class="modal">
        <div class="modal-content" id="modalContent">
            <div class="header-modal-erro">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/box-important--v1.png"
                    alt="box-important--v1" />
            </div>
            <div class="modal-erros" id="modal_erros">

            </div>
        </div>
    </div>

    <div id="modalCorreto" class="modal">
        <div class="modal-content" id="modalContent">
            <div class="header-modal-correto">
                <img width="50" height="50" src="https://img.icons8.com/glyph-neue/64/FFFFFF/tiktok-verified-account.png" alt="tiktok-verified-account"/>
            </div>
            <div class="modal-corretos" id="modal_corretos">

            </div>
        </div>
    </div>
</body>
</html>