<!DOCTYPE html>
<html lang="pt-br">
    <link rel="shortcut icon" href="/icon/organizacao-_1_.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense System | Funcion치rio </title>
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/monitor-iframe.css">
    <link rel="stylesheet" href="/css/modal-login-erro.css">

    <script src="/js/modal-callback-remove.js" defer></script>
</head>

<body>
    <div class="cadastro-box">
        <h1>Cadastre um monitor</h1>
        <form id="form_cadastrar_monitor" action="/monitor/register" method="POST">
            <div class="row">
                <div class="col">
                    <label>Usu치rio:</label>
                    <input name="usuario" id="input_usuario" type="text" required placeholder="Insira o usu치rio">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Email:</label>
                    <input name="email" id="input_email" type="email" required placeholder="Insira o email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Senha:</label>
                    <input name="senha" id="input_senha"  type="password" required placeholder="Insira uma senha">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Confirme a senha:</label>
                    <input name="senhaConfirmacao" id="input_confirmacao_senha" name="confirmacaoSenha" type="password" required
                        placeholder="Insira a senha novamente">
                </div>
            </div>
            <div class="row">
                <input name="idAdmin" type="hidden" value="<%= userId %>">
                <button type="submit">Cadastrar monitor</button>
            </div>
        </form>
    </div>
    <% if(hasError){ %>
        <div id="modalErro" class="modal" style="display: flex !important;">
            <div class="modal-content" id="modalContent">
                <div class="header-modal-erro">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/box-important--v1.png"
                        alt="box-important--v1" />
                </div>
                <div class="modal-erros" id="modal_erros">
                    <p style="text-align: center; color: red;"> <%= errorMessage %> </p>
                </div>
            </div>
        </div>
    <% } %>     
 
    <% if(hasBeenRegistered){ %>
        <div id="modalCorreto" class="modal">
            <div class="modal-content" id="modalContent">
                <div class="header-modal-correto">
                    <img width="50" height="50" src="https://img.icons8.com/glyph-neue/64/FFFFFF/tiktok-verified-account.png" alt="tiktok-verified-account"/>
                </div>
                <div class="modal-corretos" id="modal_corretos">
                    <p style="text-align: center; color: green;"> Monitor registrado com sucesso! </p>
                </div>
            </div>
        </div>
        <script>
            setTimeout(()=>{
               // Fechar o iframe
                //    window.parent.document.getElementById('iframeId').style.display = 'none';
                
                // Atualizar a outra p치gina
                window.parent.location.reload();
            }, 1500)
        </script>
    <% } %> 

</body>
</html>