<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de cadastro :)</title>
</head>
<body>
    <!-- Formulario, é necessário que haja a tag FORM -->
    <!-- Tag form se encarrega de realizar o FETCH -->
    <!-- Passa a rota no action, com o método esperado -->

    <form action="/teste/cadastrar" method="POST">
        <!-- É necessário colocar o Name no input-->
        <!-- O form captura o value dos inputs -->
        <!-- E dentro da rota, é possível acessar esses valores através da requisição feita -->
        <label>Representante:</label>
        <input name="representante" type="text"> 
        <br>
        <label>Email</label>
        <input name="email" type="email">
        <br>
        <label>Senha</label>
        <input name="senha" type="password">
        <br>
        <label>Confirmar Senha</label>
        <input type="password">
        <br>
        <!-- O botão precisa ser do tipo submit -->
        <!-- Indicando ao formulário que ao clicar no botão, enviará os dados na rota indicada -->
        <button type="submit">Cadastrar</button>
    </form>






    <!-- verifica se ja foi cadastro -->
    <!-- se sim, manda a mensagem que ja foi cadastrado -->
    <% if (estaCadastrado) { %>
        <p id="mensagem-de-cadastro">Já foi cadastrado com sucesso!</p>
    <% } %>





    <!-- script para remover a mensagem que aparecer pós cadastro -->
    <script>
        let mensagemElemento = document.querySelector('#mensagem-de-cadastro');

        if(mensagemElemento){
            setTimeout(() => {
                mensagemElemento.style.display = 'none';
            }, 3000); 
        }
    </script>
</body>
</html>